
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.Home-Page-Link {
  margin-right: auto;
  margin-left: 20px;
}
.Rydu-Header-Logo{
  height: 150px;
  width: 150px;
}
.menu {
  margin-right: 20px;
  order: 2;
}
.Search-Menu {
  margin-right: auto;
  order: 1;
}
.Search-Bar {
  background-color: azure;

  width:400px;
  height: 50px;
}
.Menu-Dropimg {
  opacity: .7;
  height: 40px;
}

.Menu-Dropimg:hover {
  opacity: 1;
}

.Page-Body {
  background-color: #282c34;
  height: 850px;
}